h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(56, 55, 55, 0.728);
    text-align: center;
    background-color: lavender;
    border-radius: 15px;
    text-shadow: 2px 2px rgb(255, 255, 255);
    padding: 10px;
  }
  
  body {
    width: 640px;
    margin: 0 auto;
    background-color: rgb(171, 170, 170);
  }
  
  .full-img {
    position: relative;
    display: block;
    width: 640px;
    height: 480px;
  }

  .full-img:hover {
    border: 7px solid  lavender;
    border-radius: 20px;
  }

  .displayed-img {
    width: 640px;
    height: 480px;
    border-radius: 20px;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 640px;
    height: 480px;
    background-color: rgba(0,0,0,0);
  }
  
  button {
    border: 0;
    background: rgba(150,150,150,0.6);
    text-shadow: 1px 1px 1px white;
    border: 1px solid #999;
    position: absolute;
    cursor: pointer;
    top: 2px;
    left: 2px;
  }
  
  .thumb-bar img {
    display: block;
    width: 20%;
    float: left;
    cursor: pointer;
    border-radius: 10px;
  }

  .thumb-bar :hover {
    border: 5px solid lavender;
  }